---
layout: layouts/base
title: Home
tags: page
order: 1
---

<image src="https://cdn.glitch.global/df6324a8-8a3f-4212-aff2-e8e5228168a2/eleventy-logo-C970007E68-seeklogo.com.png?v=1732540289887" />

{% headers "Home", "Learning SSG" %}
<br />

I am a site made with <a href="https://www.11ty.io/">Eleventy</a>

This site is my effort to understand Eleventy. I am doing so by guiding others.

Together, we will Learn Eleventy.